<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dominik.myplan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AddPlanActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dominik.myplan.MainActivity" />
        </activity>

        <activity android:name=".MuscleGroupActivity"/>

        <activity android:name=".UebungenActivity"
            android:parentActivityName=".MuscleGroupActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dominik.myplan.MuscleGroupActivity"/>
        </activity>

        <activity android:name=".ConfigureUebungActivity"
            android:parentActivityName=".UebungenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dominik.myplan.UebungenActivity" />
        </activity>

        <activity android:name=".PlanActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dominik.myplan.MainActivity" />

        </activity>

        <activity android:name=".ShowUebungActivity"
            android:parentActivityName=".PlanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dominik.myplan.PlanActivity"/>
        </activity>

    </application>

</manifest>